<template name="Connectors">
    <div class="row app-view-header">
        <div class="col-md-12">
            <h4 class="app-view-title">Connectors</h4>
        </div>
    </div>

    <ul class="row connectors-list">
        {{#each availableConnectors}}
            <li class="connector-item">
                {{#if hasAuth}}
                    <!--show that user is already authenticated in service-->
                    {{name}}
                    <span class="auth-status-info">logged in</span>
                    <button class="btn btn-danger btn-xs revoke-access-button" data-logout-method="{{logoutMethod}}">
                        Revoke access
                    </button>
                {{else}}
                    <!--show auth link-->
                    <a href="{{authUrl}}" class="connect-connector" target="_blank">{{name}}</a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</template>