@import "../../configs.import.less";

.connectors-list {
  list-style-type: none;
  padding-left: 0;
  margin: @defaultIndent;

  li {
    .auth-status-info {
      text-transform: uppercase;
      font-size: 12px;
      color: @primaryText;
    }
  }
}
