@import "configs.import.less";

.app-view-header {
  padding: 5px;
  margin-bottom: 10px;
  background: @primaryColor;

  .app-view-title {
    color: @primaryText;
    margin: 8px;
    padding: 0;
    font-size: 18px;
  }
}