//dimensions
@sidebarWidth: 270px;

//colors
@primaryDark: #2C3E50;
@primaryColor: #34495E;
@accentColor: #2ABF9E;
@primaryText: #8a97ad;

@primaryBackground: #F3F7FB;
@secondaryBackground: white;
@dividerColor: #E8ECF0;
@borderColor: #CFD6DC;

@border: 1px solid @borderColor;

.medium-shadow {
  box-shadow: 0 2px 0 rgba(217, 219, 221, .5);
}

@lameRed: #e74c3c;
