//dimensions
@sidebarWidth: 270px;

//colors
@primaryDark: #2C3E50;
@primaryColor: #34495E;
@accentColor: #2ABF9E;
@primaryText: #8a97ad;
@secondaryText: #b2bfcd;

@primaryBackground: #F3F7FB;
@secondaryBackground: white;
@dividerColor: #E8ECF0;
@borderColor: #CFD6DC;

@border: 1px solid @borderColor;

.medium-shadow {
  box-shadow: 0 2px 0 rgba(217, 219, 221, .5);
}

.transition (@property, @time) {
  -webkit-transition: @property @time;
  -moz-transition: @property @time;
  -ms-transition: @property @time;
  -o-transition: @property @time;
  transition: @property @time;
}

@defaultIndent: 10px;

@lameRed: #e74c3c;

.dotted-bottom-border {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 33%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 3px 1px;
}
