//dimensions
@sidebarWidth: 270px;

//material color set

@primaryDark: #00796B;
@primaryColor: #009688;
@lightPrimaryColor: #B2DFDB;
@textIcons: #FFFFFF;
@accentColor: #00BCD4;
@primaryText: #212121;
@secondaryText: #727272;
@dividerColor: #B6B6B6;