@import "../../../../configs.import.less";

.curve-title {
  width: 30%;
}

.no-borders {
  border: none;
}

.curve-title:focus {
  .dotted-bottom-border;
}

.curve-icon {
  float: left;
  padding: 10px;
}

.curve-type-chooser {
  padding: 15px;
  width: 100%;

  .btn {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    width: 25%;

    &:last-child {
      border: none;
    }
  }
}