@import "../../../../configs.import.less";

@indentPartial: @defaultIndent*1.5;

.curve-editor-wrapper {
  padding: @indentPartial;

  .editor-row {
    &:not(:last-child) {
      margin-bottom: @indentPartial;
    }
  }

  .bottom-buttons {
    text-align: right;
  }
}

.curve-name {
  width: 200px;

  &:focus {
    .dotted-bottom-border;
  }
}

.curve-icon {
  float: left;
  padding: 10px;
}

.no-borders {
  border: none;
}
