@import "../../../../configs.import.less";

.curve-editor-wrapper {
  padding: 15px;

  .part {
    margin-bottom: 15px;
  }
}

.curve-title {
  width: 30%;

  &:focus {
    .dotted-bottom-border;
  }
}

.curve-icon {
  float: left;
  padding: 10px;
}

.no-borders {
  border: none;
}
