<template name="SfMetadataPickerListItem">
    <li>
        <label class="radio" for="{{name}}_{{../doc._id}}">
            <input type="radio" name="pickerValue_{{../doc._id}}" value="{{name}}" id="{{name}}_{{../doc._id}}"
                   data-toggle="radio">

            <div class="metric-info">
                {{label}}
                {{#if type}}
                    <code class="metrics-type">{{type}}</code>
                {{/if}}
            </div>
        </label>
    </li>
</template>