<template name="MasterLayout">
    <div id="wrapper">
        <div id="sidebar-wrapper">
            {{> yield 'sidebar'}}
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                {{> yield}}
            </div>
        </div>

        <div class="toggle-visibility-button" title="Toggle sidebar visibility">
            <i class="fa fa-arrow-left hide-sidebar-icon"></i>
            <i class="fa fa-arrow-right show-sidebar-icon"></i>
        </div>

        {{> PostFeedback}}

    </div>
</template>