<template name="Metrics">
    {{#EditorPanel title="Metrics"}}
        <input type="text" class="form-control metrics-search-input" placeholder="Search...">

        <div class="tab-content">
            {{#each metricMocks}}
                <ul class="metrics-list-container tab-pane" id="{{connectorName}}">
                    {{#each metrics}}
                        {{> MetricItem}}
                    {{/each}}
                </ul>
            {{/each}}
        </div>
    {{/EditorPanel}}
</template>