<template name="SalesForceChartEditor">
    <div class="sf-chart-editor-container">
        <h4>Chart Editor</h4>

        <div class="chart-editor-form">
            <!--table picker-->
            <div class="form-group">
                <label for="table-dropdown">Table</label>
                <select id="table-dropdown" class="form-control">
                    <option value="none">none</option>
                    <option value="Account">Account</option>
                    <option value="Opportunity">Opportunity</option>
                    <option value="Contact">Contact</option>
                    <option value="Lead">Lead</option>
                    <option value="Campaign">Campaign</option>
                </select>

                <p class="help-block">Selected table will be used as data source for chart</p>
            </div>

            {{#if currentTable}}
                {{> SalesForceChartConfiguration table=currentTable fields=fields}}
            {{else}}
                <p>Please, select a table</p>
            {{/if}}
        </div>
    </div>
</template>