<template name="main">
  <h1>Welcome to Meteor!</h1>

  {{> loginButtons}}

  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <button id="getUAlist">Get accounts list</button>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <label for="profile-selector">Select a project from a dropdown</label>
      <br/>
      <select id="profile-selector">
        {{#each GAaccounts}}
          <option value="{{profileId}}">{{webPropertyId}}</option>
        {{/each}}
      </select>
      <br/>

      <div class="input-daterange input-group" id="datepicker">
        <input type="text" class="input-sm form-control" name="start"/>
        <span class="input-group-addon">to</span>
        <input type="text" class="input-sm form-control" name="end"/>
      </div>
      <br/>
      <button id="getData">Proceed</button>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <strong>Your data is</strong>
      <br/>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>metric</th>
          <th>value</th>
        </tr>
        </thead>
        <tbody>
        {{#each arrayify UAProfileData}}
          <tr>
            <td>{{name}}</td>
            <td>{{value}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
      <textarea cols="60" rows="10">{{stringify UAProfileData}}</textarea>
    </div>
  </div>

</template>
