<template name="ConnectorEntity">
    <div class="entity-picker-wrapper {{#unless visible}}hidden{{/unless}}">
        <div class="picker-caption">Please, choose entity for {{connectorName}}</div>
        <ul class="connector-entities">
            {{#each entities}}
                {{#if matchSearchQuery label}}
                    <li class="entity-item" data-entity="{{name}}">
                        {{label}}
                    </li>
                {{/if}}
            {{/each}}
        </ul>

        <button class="btn btn-default cancel-button">Cancel</button>
    </div>
</template>