<template name="ChartEditor">
    <div class="chart-editor-container">
        <div class="row app-view-header">
            <div class="col-xs-12 col-sm-5 col-md-6">
                <h4 class="app-view-title">Chart editor</h4>
            </div>
            <div class="col-xs-9 col-sm-5 col-md-5">
                <input type="text" class="form-control chart-name" placeholder="Chart name" value="{{chart.name}}">
            </div>
            <div class="col-xs-3 col-sm-2 col-md-1">
                <button class="btn btn-sm primary-button save-chart-button" title="Save">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                {{> Curves}}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                {{> ChartPreview}}
            </div>
        </div>
    </div>

    <button id="load-series-button">Load Series</button>
</template>