<template name="ChartEditor">

    <div class="chart-editor-container">
        <div class="row chart-meta-info">
            <div class="col-xs-12 col-sm-5 col-md-6">
                <h4 class="chart-title">Chart editor</h4>
            </div>
            <div class="col-xs-9 col-sm-5 col-md-5">
                <input type="text" class="form-control chart-name" placeholder="Chart name" value="{{chart.name}}">
            </div>
            <div class="col-xs-3 col-sm-2 col-md-1">
                <button class="btn btn-success save-chart-button" title="Save"><i class="fa fa-save"></i></button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                {{> Connectors}}
            </div>
            <div class="col-xs-12 col-sm-9 col-md-5 col-lg-3">
                {{> Metrics}}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-3">
                {{> Curves}}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                {{> ChartPreview}}
            </div>
        </div>
    </div>
</template>