<template name="ChartEditor">
    <h3>Chart editor</h3>

    <div class="chart-editor-container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="chart-meta">
                    <input type="text" class="input-control chart-name" placeholder="Chart name" value="{{chart.name}}">
                    <button class="btn btn-success save-chart-button" title="Save"><i class="fa fa-save"></i></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1">
                {{> Connectors}}
            </div>
            <div class="col-xs-8 col-sm-5 col-md-2 col-lg-2">
                {{> Metrics}}
            </div>
            <div class="col-xs-12 col-sm-5 col-md-3 col-lg-2">
                {{> Curves}}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-7">
                {{> ChartPreview}}
            </div>
        </div>
    </div>

    <div class="dropup">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Dropup
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>

</template>