@import "../../configs.import.less";

.form-control.chart-name {
  height: auto;
  padding: 4px;
  background-color: @primaryBackground;
  color: @accentColor;
  border: @border;

  &:focus {
    border-color: @accentColor;
  }
}
