@import "../../configs.import.less";

.form-control.chart-name {
  height: auto;
  padding: 4px;
  background-color: @primaryBackground;
  color: @accentColor;
  border: @border;

  &:focus {
    border-color: @accentColor;
  }
}

.sticky-preview {
  @media (min-width: 992px) {
    position: fixed;
    top: 10px;
  }
}
