@import "../../configs.import.less";

@panelBorder: 1px solid @dividerColor;

.editor-panel {
  width: 100%;
  min-height: 50px;
  background: @lightGray;
  border: @panelBorder;
  margin-bottom: 5px;

  .panel-caption {
    padding: 5px;
    border-bottom: @panelBorder;
    color: @secondaryText;
    font-size: 13px;
  }

  .panel-body {
    padding: 10px;
  }
}
