<template name="SourcePicker">
    <div class="dragable-window-header">
        Source picker {{> DragableWindowCloseButton}}
    </div>
    <div class="dragable-window-body source-picker-body">
        {{#with context}}
            {{> ConnectorFilter}}
            <!--search-->
            <div class="search-input-wrapper simple-panel">
                <input type="text" class="form-control search-metric-input" placeholder="Search">
            </div>

            {{> ConnectorEntity connectorName=connectorName visible=showConnectorEntityPicker}}

            {{> Metrics}}
        {{/with}}
    </div>
    <div class="dragable-window-footer">
        <button class="btn btn-default btn-sm">Cancel</button>
        <button class="btn btn-success btn-sm">Save</button>
    </div>
</template>