<template name="SourcePicker">
    <div class="dragable-window-header">
        Source picker
        {{> SearchWidget}}
        {{> DragableWindowCloseButton}}
    </div>
    <div class="dragable-window-body source-picker-body">
        {{#with context}}
            {{> ConnectorFilter}}

            {{> ConnectorEntity connectorName=connectorName visible=showConnectorEntityPicker}}

            <div class="metrics-wrapper">
                {{> Metrics}}
            </div>
        {{/with}}
    </div>
    <div class="dragable-window-footer">
        <button class="btn btn-default btn-sm cancel-button">Cancel</button>
        <button class="btn btn-success btn-sm save-button">Save</button>
    </div>
</template>