@import "../../configs.import.less";

footer.app-footer {
  padding: @defaultIndent/2;
  z-index: 100;
  background: @primaryColor;
  text-align: center;
  color: @primaryText;

  a {
    color: @primaryText;
  }
  a:hover, a:link {
    color: @primaryText;
  }
}