@import "../../configs.import.less";

footer.app-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  width: @sidebarWidth;
  z-index: 100;
  background: @primaryDark;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
  color: white;

  a {
    color: white;
  }
  a:hover, a:link {
    color: white;
  }
}