<template name="Home">
    <h3>DataForce</h3>

    <p>Home page content</p>


    <article>
        <h4>buttons</h4>
        <button class="btn btn-success">success</button>
        <button class="btn btn-warning">warning</button>
        <button class="btn btn-primary">primary</button>
        <button class="btn btn-default">default</button>
        <button class="btn btn-danger">danger</button>
        <h4>select</h4>

        <div class="btn-group fix-dropdown">
            <button class="btn btn-inverse dropdown-toggle" type="button" data-toggle="dropdown">
                Large button <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>

        <h4>Controls usage example</h4>

        <select multiple="multiple" class="form-control multiselect multiselect-info">
            <option value="0">1</option>
            <option value="1" selected>2</option>
            <option value="2" selected>3</option>
            <option value="3" selected>4</option>
            <option value="4">5</option>
        </select>

        <input type="radio" name="" id=""/>
        <input type="radio" name="" id=""/>
        <input type="radio" name="" id=""/>


        <h4>Spoiler usage example</h4>
        {{#Spoiler opened=true}} <p>some data here</p>{{else}}
            <div style="padding: 10px"><p>details are here</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, maxime!</p></div>{{/Spoiler}}
        {{#Spoiler}} <p>some data here</p>{{else}}
            <div style="padding: 10px"><p>details are here</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, maxime!</p></div>{{/Spoiler}}
        {{#Spoiler}} <p>some data here</p>{{else}}
            <div style="padding: 10px"><p>details are here</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, maxime!</p></div>{{/Spoiler}}
        {{#Spoiler}} <p>some data here</p>{{else}}
            <div style="padding: 10px"><p>details are here</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, maxime!</p></div>{{/Spoiler}}

    </article>
</template>