@import "../../../../../configs.import.less";

.axis-chooser-wrapper {
  .axis-chooser {
    .transition(background-color, .2s);

    background-color: @primaryBackground;
    border: 2px dashed @secondaryText;
    border-radius: 5px;
    color: @secondaryText;
    font-family: "Times New Roman", serif;
    font-size: 5rem;
    font-style: oblique;
    text-align: center;
    word-break: break-all;

    &:hover {
      color: @primaryText;
      border-color: @primaryText;
    }

    .axis-data {
      font-size: 1.2rem;
      display: block;
    }

    .connector-logo {
      position: absolute;
      width: 100px;
      opacity: 0;
      margin-left: -38px;
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);
    }
  }
}