<template name="SalesForceSample">
    <div class="container">
        <h3>SalesForce</h3>

        <div class="row login-widget">
            <div class="col-md-12">
                <a href="{{authUrl}}">SalesForce Login</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                {{> SalesForceChartEditor}}
            </div>
            <div class="col-md-6 col-sm-12">
                {{> SalesForceChart}}
            </div>
        </div>
    </div>
</template>