@import "../../configs.import.less";

.sidebar-container {
  background: @primaryColor;

  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;

    .sidebar-brand {
      color: white;
      font-size: 20px;
      font-weight: bold;
      line-height: 60px;
      height: 65px;
    }

    li {

      a {
        display: block;
        padding: 10px;
        color: white;
        background: @primaryColor;
        text-decoration: none;
      }

      a:hover {
        background: @primaryDark;
      }

      a.active {
        background: @accentColor;
        color: @textIcons;
      }

      a:hover, a:active, a:focus {
        text-decoration: none;
      }
    }

    li:not(.app-name) {
      a {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      }
    }
  }

  .bottom-menu {
    top: auto;
    bottom: 0;
  }
}





