@import "../../configs.import.less";

.navbar-default.sidebar {
  font-size: 14px;

  .sidebar-nav {
    position: absolute;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 3px;

      & > a {
        display: block;
        padding: 10px;
        color: @primaryText;
        text-decoration: none;
        background: @primaryColor;

        &:hover {
          background: @primaryDark;
        }

        &.active {
          background: @primaryDark;
          color: @accentColor;
        }

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }
      }

    }

  }
}





