<template name="SidebarNavigation">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                {{#each samplesRoutes}}
                    <li>
                        <a href="{{pathFor name}}" class="{{isActiveRoute regex=activeRouteName}}">
                            <i class="fa fa-{{icon}} menu-icon"></i>
                            {{caption}}
                        </a>
                    </li>
                {{/each}}

                {{> SignStatus}}

                {{#if currentUser}}
                    {{> FeedbackWidget}}
                {{/if}}
            </ul>

        </div>
    </div>
</template>