@import "../../../../../configs.import.less";

.curve-type-chooser {
  padding: 15px;
  width: 100%;

  .btn {
    padding: 0;
    width: 25%;
    height: 50px;
    .transition(border, .5s);
    border-radius: 0;
    border: 25px solid rgba(0, 0, 0, 0.3);

    &:focus {
      border: 2px solid rgba(0, 0, 0, 0.7);
    }

    &, i {
      line-height: 0;
    }
  }
}