@import "../../../../../configs.import.less";

.curve-type-chooser {
  width: 100%;

  .btn {
    padding: 0;
    width: 25%;
    height: 50px;
    .transition(border, .5s);
    border-radius: 0;
    border: 25px solid @primaryBackground;

    &:hover:not(.pressed) {
      color: @accentColor;
    }

    &.pressed {
      border: 0 solid white;
      background: @accentColor;
      color: white;
    }

    &, i {
      line-height: 0;
    }
  }
}