<template name="Dashboard">
    <div class="row app-view-header">
        <div class="col-md-12">
            <h4 class="app-view-title">Your charts</h4>
        </div>
    </div>

    <div class="row dashboard-content">
        {{#if hasCharts}}
            {{#each charts}}
                {{> ChartListItem}}
            {{/each}}
        {{else}}
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    <p><strong>You have no charts yet</strong></p>
                    Use <a href="{{pathFor route='chartEditor'}}">chart editor</a> to create one
                </div>
            </div>
        {{/if}}
    </div>
</template>