@import "../../configs.import.less";

.chart-item {
  color: @primaryText;

  .heading {
    font-size: 18px;
    padding: @defaultIndent;

    .chart-buttons {
      float: right;
    }
  }

  .details {
    padding: @defaultIndent;
  }
}