<template name="Dashboard">
    <div class="row app-view-header">
        <div class="col-md-12">
            <h4 class="app-view-title">Your charts</h4>
        </div>
    </div>

    <div class="dashboard-content">
        {{#if hasCharts}}
            <div class="charts-list">
                {{#each charts}}
                    {{> ChartListItem}}
                {{/each}}
            </div>
        {{else}}
            <div class="alert alert-info" role="alert">
                <p><strong>You have no charts yet</strong></p>
                Use chart editor to create one
            </div>
        {{/if}}
    </div>
</template>