.charts-list {
  font-size: 18px;
  list-style-type: none;
  padding-left: 0;

  .panel {
    margin-bottom: 10px;

    .chart-buttons {
      display: inline-block;
      float: right;
      i {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
}