.charts-list {
  font-size: 18px;
  list-style-type: none;
  padding-left: 0;

  li {
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px;

    .chart-icon {
      color: lightgrey;
    }

    .chart-buttons {
      display: inline-block;
      float: right;
      i {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }

  li:hover {
    background: #e7e7e7;
  }

}