<template name="googleAnalytics">
  <h1>Welcome to Meteor!</h1>

  {{> loginButtons}}

  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <br/><br/>
      <a id="auth-with-ga" class="btn btn-default" href="#"><i class="glyphicon glyphicon-lock"></i> Auth with Google Analytics</a>
      <br/><br/>
      <button id="getUAlist" class="btn btn-default">Get accounts list</button>
      <br/> <br/>
      <label for="profile-selector">Select a project from a dropdown</label>
      <br/>
      <select id="profile-selector">
        {{#each GAaccounts}}
          <option value="{{profileId}}">{{name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{> listSelector list=metricsList id="metrics-selector"}}
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{> listSelector list=dimensionsList id="dimensions-selector"}}
        </div>
      </div>
      <div class="row">
        <br/>
        <br/>

        <label for="more-axis-checkbox" class="text-center btn btn-default">
          <input id="more-axis-checkbox" type="checkbox" checked="{{addMoreYAxis}}"/>
          Second axis
        </label>
      </div>
      {{#if addMoreYAxis}}
        <div class="row">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              {{> listSelector list=metricsList id="second-metrics-selector"}}
            </div>
          </div>
        </div>
      {{/if}}
      <br/>
      <br/>
      {{> rangeDatepicker id="gaDatepicker"}}
      <br/>
      <br/>
      <button id="getData" class="btn btn-success">Proceed</button>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <strong>Your data is</strong>
      <br/>

      <select id="chart-type-selector">
        <option value="line">Line</option>
        <option value="column">Column</option>
      </select>
      <br/>

      <div id="chart"></div>
      <br/>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>metric</th>
          <th>value</th>
        </tr>
        </thead>
        <tbody>
        {{#each UAProfileData}}
          <tr>
            {{#each .}}
              <td>{{this}}</td>
            {{/each}}
          </tr>
        {{/each}}
        </tbody>
      </table>
      <textarea cols="60" rows="10">{{stringify UAProfileData}}</textarea>
    </div>
  </div>


  <button id="debug" class="btn btn-danger btn-lg">ZENDESK API CALL</button>
</template>
