<template name="FeedbackWidget">
    <li>
        <div class="feedback-widget-wrapper">
            <div class="feedback-widget">
                <strong>We're in Alpha</strong>

                <p>
                    Some features may not yet work properly.
                    We encourage your feedback on what you like and what you dislike.
                </p>
                <button class="btn btn-default btn-xs send-feedback-btn" data-toggle="modal"
                        data-target="#postFeedbackModal">Send feedback
                </button>
            </div>
        </div>
    </li>
</template>