<template name="PostFeedback">
    <div class="modal fade" id="postFeedbackModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Send Feedback</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message">Your message</label>
                        <textarea style="min-height: 150px;" class="form-control feedback-message-input"
                                  id="message"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success post-feedback-button">Send</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>