<template name="googleAnalyticsSample">
  <div class="container">
    <h1 class="text-center">Google Analytics Demo</h1>

    {{#if currentUser}}
        <div class="row">
          <div class="col-sm-12 col-md-6">
            {{> gaChartConstructor}}
            <textarea cols="60" rows="10">{{stringify UAProfileData}}</textarea>
          </div>

          <div class="col-sm-12 col-md-6">
            {{> gaChart}}
          </div>
        </div>
      {{else}}
      <h3>Sign in please</h3>
      {{/if}}
  </div>
</template>
