@import "../../../configs.import.less";

.chart-item {
  .chart-heading {
    background-color: @secondaryBackground;

    .panel-title {
      color: @primaryText;

      .chart-buttons {
        display: inline-block;
        float: right;

        i {
          cursor: pointer;
          .transition(color, .2s);
          margin: 0 10px;

          &:hover {
            color: lighten(rgb(138, 151, 173), 10%);
          }
        }
      }
    }
  }
}
