<template name="ChartListItem">
    <div class="chart-item">
        {{#Spoiler opened=true}}
            <div class="heading">
                <i class="fa fa-area-chart chart-icon" role="spoiler-collapse"></i>
                {{name}}
                <span class="chart-buttons">
                    <span>{{formatDate createdAt}}&nbsp;</span>
                    <i class="fa fa-pencil edit-chart-button"></i>
                    <i class="fa fa-trash-o remove-chart-button"></i>
                </span>
            </div>
        {{else}}
            <div class="details">
                {{> ChartDisplay}}
            </div>
        {{/Spoiler}}
    </div>
</template>
