<template name="ChartListItem">
    <div class="chart-item">
        <div class="panel panel-default">
            <div class="panel-heading chart-heading">
                <h3 class="panel-title">
                    <i class="fa fa-area-chart chart-icon" role="spoiler-collapse"></i>
                    {{name}}

                    <div class="chart-buttons">
                        <span>{{formatDate createdAt}}&nbsp;</span>
                        <i class="fa fa-pencil edit-chart-button"></i>
                        <i class="fa fa-trash-o remove-chart-button"></i>
                    </div>
                </h3>
            </div>
            <div class="panel-body">
                {{> ChartDisplay}}
            </div>
        </div>
    </div>
</template>
